@model IGrid<LivroViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Livros</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<a href="@(Url.Action("ExportIndex") + ViewContext.HttpContext.Request.QueryString)">Export</a>
@(new HtmlGrid<LivroViewModel>(Html, Model))