@model IGrid<AutorViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Autores</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<a href="@(Url.Action("ExportIndex") + ViewContext.HttpContext.Request.QueryString)">Export</a>
@(new HtmlGrid<AutorViewModel>(Html, Model))